/**Google Fonts**/
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

/**variables **/
:root { 

    /**colors!**/
    --primary-color: hsl(18, 96%, 44%);
    --secondary-color: hsl(41, 100%, 50%);
    --dark-color: hsl(203, 84%, 10%);
    --light-color: hsl(201, 32%, 84%);
    --primary-hue: 18;
    --secondary-hue: 41
    --light-hue: 201;
    --dark-hue: 203;

    /*fonts and stuff*/
    /*.5rem = 8px | 1rem = 16px*/
    --body-font: "Karla", sans-serif;
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    /*font weight*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    
}

/* no margins by default */
* {
    box-sizing: border-box; /* and also make box sizes like. the way it's supposed to be*/
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--body-font);
  }

  #body {
    overflow: hidden;
  }

@media screen and (max-width:850px){
    * {
        font-size: var(--normal-font-size);
    }
}
h1, h2 {
    color: var(--primary-color);
    text-shadow: 5px 5px black;
    padding: 1p
}

a {
    text-decoration: none;
    color: white;
}

/* colors */
.active {
    background-color: var(--primary-color);
}

/* my reusable stuff hehe */
.box {
    border-color: var(--primary-color);
    border-radius: 12px;
    padding: 20px;  
    margin: 2% 0 2% 0;
    width: 100%;
    position: relative;
}

.box-header {
    display: block;
    margin: 1%;
}

.box-header > h2 {
    margin: 3.2%;
}
.flexlist {
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
    
}

.pills {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: 5px;

}

.container {
    margin: auto 0;
    display: flex;
    padding: 3%;
}

.full-width{
    background-color: hsl(var(--dark-hue), 87%, 6%);
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: var(--h3-font-size);
    min-height: 100vh;
    padding: 2% 0;
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: var(--h1-font-size);
    }
    .full-width {
        flex-direction: column;
    }

    .box {
        margin: 2% 0 2% 0;
    }
}


.imagebox {
    display: flex; 
    justify-content: center; 
    overflow: hidden;
    border-radius: 5px;
}

.imagebox img {
    flex-shrink: 0;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
html {
    scroll-padding: 50px;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    color: white;
    background-color: var(--dark-color);
}

/*=====================header stuff=============================*/
header {
    top: 0;
    position:fixed;
    display: block;
    background-color: hsl(var(--dark-hue), 100%, 2%);
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
ul#nav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0;
}

li.nav-item {
    display: flex;
    transition-duration: 0.4s;
    
}

li.nav-item:hover {
    background-color: var(--primary-color);
}

li.nav-item a {
    display: block;
    padding: 8px;
    margin: 8px 0 8px 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

span {
    color: var(--primary-color);
}

#name { 
    margin: 8px;
    display: inline;
    float: left;
    padding: 8px ;
}

#navbar {
    float: right;
}

#toggle {
    margin: auto;
    padding: 16px;
    float: right;
    height: inherit;
}

#filler {
    display: none;
}

#nav li{
    padding: 0% 1%;
}

#toggle {
    display: none;
}


/* header for mobile */
@media screen and (max-width: 850px) {

    #toggle {
        display: block;
    }
    
    ul#nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #filler {
        display: block;
    }

    ul#nav.hidden {
    display: none;
    }
}



/*==========================body======================*/

#body {
    width: 100%;
    padding-top: 50px;
}

/* star animation */
@keyframes pan {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
    
}

#edge-gradient {
    position: absolute;
    background-image: linear-gradient(to right, rgba(4, 30, 47, 1) 0%, rgba(0,0,0,0) 50%, rgba(4, 30, 47, 1) 100%);
    height: 100%;
    width: 100%;
}
#star-container{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#stars{
    height: 100%;
    position: absolute;
    background-image: url("assets/star.png");
    background-size: 10vmax;
    min-width: auto;
    animation: pan 60s linear infinite;
    width: 100%;
    opacity: 25%;
}

/* actual home stuff */
#home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    
}

#portrait{
    width: 35%;
    border-radius: 1000px;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin: 5%;
    border: 11px solid;
    border-color: var(--primary-color) var(--primary-color) var(--secondary-color) var(--secondary-color);
    box-shadow: 2vh 2vh black;
}

#portrait img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#hello {
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
    text-shadow: 5px 5px black;
    font-size: var(--biggest-font-size);
}

#subtext {
    margin: 2% 0 2% 0;
    font-size: var(--bigger-font-size);
}

#subbertext{
    
    font-size: var(--big-font-size);
}

#greeting {
    padding: 2%;
    margin: 5% auto 5% auto;
    width: 40%;
}

/* home for phones */

@media screen and (max-width: 850px) {
    #home {
        flex-direction: column;
        justify-content: center;
        gap: 10%;
    }

    #portrait {
        aspect-ratio: 1/1;
        min-width: 75%;
        order: 1;
        margin: 0;
        /* margin-top: 50px; */
        
    }

    #greeting {
        order: 2;
        height: 30%; 
        width: 100%;
        padding: 4%;
    }

    #hello {
        font-size: 3em;
    }

    #subtext {
        font-size: 1.5em;
    }

    #subbertext {
        font-size: 1em;
    }
}

/* ===================about=================== */

#code-list{
    justify-content: center;
    margin: 7px 0 0 7px;
    height: 100%;
}


#skill-list{
    justify-content: center;
    margin: 7px 0 0 7px;
    height: 100%;
}

#about > .box {
    width: 50%;
}

/* individual colors of the codes and skills*/


#java {
    border-color: red;
    color: red;
}

#javascript {
    border-color: rgb(255, 213, 3);
    color: rgb(255, 213, 3);
}

#html {
    border-color: rgb(255, 98, 0);
    color: rgb(255, 98, 0);
}

#c-plusplus {
    border-color: rgb(0, 85, 255);
    color: rgb(0, 85, 255);
}

#python {
    border-color: yellow;
    color: yellow;
}

#css {
    border-color: cyan;
    color: cyan;
}

#powershell {
    border-color: rgb(46, 206, 255);
    color: rgb(46, 206, 255);
}

#bash {
    border-color: rgb(204, 55, 10);
    color: rgb(204, 55, 10);
}

#programming {
    border-color: rgb(46, 255, 130);
    color: rgb(46, 255, 130);
}
#stenography {
    border-color: rgb(225, 0, 255);
    color: rgb(255, 0, 255);
}

#modelling {
    border-color: rgb(193, 247, 0);
    color: rgb(193, 247, 0);
}

#animation {
    border-color: rgb(255, 107, 53);
    color: rgb(255, 107, 53);
}

#gdesign {
    border-color: rgb(192, 19, 19);
    color: rgb(192, 19, 19);
}

/* about for phones */

.container {
    flex-direction: column;
}


/*========================contributions=======================*/
#contributions {
    display:block;
}

div#contributions .flexlist {
    margin: 5%;
    justify-content: center;
}

.flexlist .frame{
    width: 312px;
}
.frame div.imagebox {
    margin: 20px;
    aspect-ratio: 1/1;
    height: 17rem;
}

@media screen and (max-width: 850px) {

    #contributions .flexlist {
        font-size: var(--small-font-size);
    }

    #contributions .flexlist h2 {
        font-size: var(--h3-font-size);
    }

    .flexlist .frame{
        max-width: 150px;
    }
    .frame div.imagebox {
        margin: 20px;
        aspect-ratio: 1/1;
        height: 7rem;
    }
    
}
/*=======================CONTACT=======================*/

input, textarea {
    background-color: var(--dark-color);
    color: white;
    padding: 3%;
    border-color: var(--light-color);
    border-width: 3px;
    border-radius: 14px;
}

textarea {
    resize: vertical;
}

input :focus {
    border-color: var(--primary-color);
}

#contact {
    display: block;
    margin-bottom: 0;
}

#contact > .container > div {
    display: flex;
    gap: 1%;
    margin: 1%;
}


#socials {
    flex-direction: column;
}

.contacts {
    display: flex;
    width: 100%;
    justify-content: left;
    padding: 1%;
    margin: 1%;
}

.email-container {
    padding: 5%;
    border-radius: 15px;
    background-color: hsl(var(--dark-hue), 58%, 16%);
}

#email {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

#inputs {
    margin-bottom: 2%;
    margin-top: 2%;
    
}
.form-row {
    width: 100%;
    display: flex;
    
    gap: 2%;
}

textarea {
    width: 100%;
}
.col {
    width: 100%;
}
#contact div #inputs {
    height: 47px;
    display: flex;
    justify-content: space-between;
}

#inputs input {
    width: 100%;
}

#message {
    height: 100%;
}

#sendbtn {
    margin: 2%;
    padding: 5px;
    width: 30%;
    background-color: var(--primary-color);
    color: white;
    border-radius: 34px;
    border-color: var(--primary-color);
    height: 24%;
    transition-duration: 0.4s;
}

#sendbtn:hover {
    background-color: var(--dark-color)
}

@media screen and (max-width: 1400px) {
    .box-header h2 {
        font-size: var(--h2-font-size);
        margin-top: 0;
    }
    
    
    #contact > .container > div {
        flex-direction: column;
    }
    
    #email {
        order: 1;
        margin: 0;
        margin-top: 2%;
    }

    #socials {
        order: 2;
    }
    .full-width {
        flex-direction: column;
    }
    
    .box {
        margin: 2% 0 2% 0;
    }

    
}

footer {
    padding: 1%;
    text-align: center;
    background-color: black;
}

@media screen and (max-width:850px){
    footer {
        font-size: var(--smaller-font-size);
}
}
